---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Bag om crying">
  <main class="container mx-auto p-4">
    <Heading htmlheading="h1">Lav noget flot!</Heading>
    <Text teksttype="brødtekst">Så bliver Anders glad:-)</Text>
  </main>
</MainLayout>
