---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto p-4">
    <Heading>Lav noget flot!</Heading>

    <Text teksttype="caption">Så bliver Anders glad:-)</Text>
    <Text teksttype="brødtekst">Så bliver Anders glad:-)</Text>
    <Text teksttype="brødtekst" weight="light">Så bliver Anders glad:-)</Text>

    <button class="btn btn-neutral border-2 border-accent">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-error">Error</button>
  </main>
</MainLayout>
