---
import MainLayout from "../layouts/MainLayout.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Favorites from "../components/Favorites.astro";
import TasteBox from "../components/TasteBox.astro";
import CardButton from "../components/CardButton.astro";
---

<MainLayout>
  <main class="mt-30">
    <!-- TILBAGEKNAP - javascript:history.back() - brugest til at gå tilbage til sidst besøgte side - således det virker til både forside, på hylden og madparringer -->
    <a href="javascript:history.back()" class="flex flex-row items-center mx-[var(--margin-mobile)] md:mx-[var(--margin-web)] md:-mb-2">
      <img class="w-10 md:w-15 scale-x-[-1] -mr-2 pointer-events-auto" src="/img/illustrations/arrowFoodparring.webp" alt="Pil" />
      <Text teksttype="caption" weight="caption" stylingclasses="text-right" color="accent"> Tilbage </Text>
    </a>
    <div class="flex flex-col gap-[var(--gapmobile-xl)] md:gap-[var(--gapweb-xl)]">
      <section class="grid grid-cols-1 md:grid-cols-2 md:gap-[var(--gapweb-l)] md:mx-[var(--margin-web)] items-center">
        <!-- MOBIL VERSION -->
        <div class="block md:hidden col-span-1">
          <!-- TITLE -->
          <div class="mb-[var(--gapmobile-s)] mx-[var(--margin-mobile)]">
            <Heading htmlheading="h1" size="large" color="primary"> Fleur Rebelle </Heading>
          </div>

          <!-- KARUSSEL -->
          <div class="carousel w-full space-x-[var(--gapmobile-m)] ml-[var(--margin-mobile)]">
            <!-- BILLEDE 1 -->
            <div class="carousel-item">
              <img class="aspect-square w-[300px] object-cover" src="/img/categoryimg/MeatCategory.webp" alt="Rosé vin billede 1" />
            </div>

            <!-- BILLEDE 2 -->
            <div class="carousel-item">
              <img class="aspect-square w-[300px] object-cover" src="/img/categoryimg/PastaCategory.webp" alt="Rosé vin billede 2" />
            </div>
          </div>
        </div>

        <!-- TABLET / DESKTOP VERSION -->
        <div x-data="{ selected: '/img/categoryimg/MeatCategory.webp' }" class="hidden md:grid md:col-span-1 gap-[var(--gapweb-s)] grid-cols-[auto_1fr] items-start justify-self-end">
          <!-- THUMBNAIL BILLEDER -->
          <div class="flex flex-col gap-[var(--gapweb-m)]">
            <!-- THUMBNAIL 1 -->
            <button type="button" @click="selected = '/img/categoryimg/MeatCategory.webp'">
              <img src="/img/categoryimg/MeatCategory.webp" alt="img1" class="w-20 h-20 object-cover" />
            </button>

            <!-- THUMBNAIL 2 -->
            <button type="button" @click="selected = '/img/categoryimg/PastaCategory.webp'">
              <img src="/img/categoryimg/PastaCategory.webp" alt="img2" class="w-20 h-20 object-cover" />
            </button>
          </div>

          <!-- STORT HOVEDBILLEDE -->
          <div>
            <img :src="selected" alt="Main Image" class="w-full max-w-[400px] h-auto object-contain" />
          </div>
        </div>

        <!-- PRODUKT INDHOLD -->
        <div class="grid grid-cols-1 gap-[var(--gapmobile-s)] md:gap-[var(--gapweb-s)] mx-[var(--margin-mobile)] md:col-span-1">
          <!-- DESKTOP TITEL -->
          <div class="flex flex-col gap-[var(--gapmobile-xxs)] md:gap-[var(--gapweb-xxs)]">
            <Heading stylingclasses="hidden md:block" htmlheading="h1" size="large" color="primary"> Fleur Rebelle </Heading>

            <Text teksttype="headline" weight="light" color="primary" stylingclasses="uppercase"> Rosé </Text>

            <div class="flex gap-2">
              <span class="badge bg-info rounded-radius-selector"><Text teksttype="footnote" weight="light">Badge1</Text></span>
              <span class="badge bg-info rounded-radius-selector"><Text teksttype="footnote" weight="light">Badge2</Text></span>
              <span class="badge bg-info rounded-radius-selector"><Text teksttype="footnote" weight="light">Badge3</Text></span>
            </div>
          </div>

          <!-- DEKORATIV LINJE  -->
          <img class="w-1/2" src="/img/illustrations/SingleViewLine.webp" alt="Line" />

          <!-- PRODUKT BESKRIVELSE -->
          <Text stylingclasses="mr-0 lg:mr-40"> Fleur Rebelle er en økologisk rosé med masser af friskhed, røde bær og et lille strejf af blomster, der gør den både livlig og elegant. </Text>

          <!-- PRIS -->
          <Text teksttype="headline" weight="bold" color="primary" stylingclasses="uppercase"> 119 DKK </Text>

          <!-- ANTAL VÆLGER -->
          <div x-data="{ qty: 0 }" class="flex items-center gap-[var(--gapmobile-s)] md:gap-[var(--gapweb-s)]">
            <!-- MINUS KNAP -->
            <button
              @click="if (qty > 0) qty--"
              :class="{'opacity-50': qty <= 0}"
              :disabled="qty <= 0"
              type="button"
              class="w-10 h-10 lg:w-12 lg:h-12 rounded-full shrink-0 border-2 border-[var(--color-primary)] text-[var(--color-primary)] bg-[var(--color-neutral)] flex items-center justify-center text-xl lg:text-2xl"
            >
              −
            </button>

            <!-- ANTAL -->
            <div class="min-w-[36px] text-center text-lg" x-text="qty">0</div>

            <!-- PLUS KNAP -->
            <button
              @click="qty++"
              type="button"
              class="w-10 h-10 lg:w-12 lg:h-12 rounded-full shrink-0 border-2 border-[var(--color-primary)] text-[var(--color-primary)] bg-[var(--color-neutral)] flex items-center justify-center text-xl lg:text-2xl"
            >
              +
            </button>

            <!-- Købsknap -->
            <CardButton variant="primary"> Put i kassen </CardButton>
          </div>
        </div>
      </section>

      <!-- VIN INFO SEKTION -->
      <section class="relative bg-[var(--color-primary)] flex flex-col lg:grid lg:grid-cols-7
  p-15 gap-[var(--gapmobile-m)]
  items-center lg:items-stretch justify-center">
        <!-- OVERLAYS -->
        <img src="/img/illustrations/FishWineInfo.webp" alt="Fisk og skaldyr illustration" class="absolute top-0 left-0 w-40 lg:w-60" />

        <img src="/img/illustrations/WineGlassesInfo.webp" alt="Vinglas illustration" class="absolute bottom-0 right-0 w-80 lg:w-100" />

        <!-- VENSTRE SIDE / TOP -->
        <div class="lg:col-span-3 text-center h-full flex flex-col justify-between">
          <div>
            <Heading htmlheading="h3" size="small" color="secondary"> DRIKKES BEDST TIL </Heading>

            <div class="mt-10 grid gap-[var(--gapmobile-l)] grid-cols-2 md:gap-[var(--gapweb-l)] items-center justify-items-center">
              <div class="flex flex-col items-center gap-[var(--gapmobile-xxs)] text-center z-10">
                <img src="/img/categoryimg/PastaCategory.webp" alt="Pasta" class="w-full aspect-square max-w-50 object-cover" />
                <Text teksttype="headline" weight="bold" color="negative"> Pasta </Text>
              </div>

              <div class="flex flex-col items-center gap-[var(--gapweb-xxs)] text-center z-10">
                <img src="/img/categoryimg/FishCategory.webp" alt="Fisk" class="w-full aspect-square max-w-50 object-cover" />
                <Text teksttype="headline" weight="bold" color="negative"> Fisk og skaldyr </Text>
              </div>

              <div class="flex flex-col items-center gap-[var(--gapweb-xxs)] text-center z-10">
                <img src="/img/categoryimg/PizzaCategory.webp" alt="Pizza" class="w-full aspect-square max-w-50 object-cover" />
                <Text teksttype="headline" weight="bold" color="negative"> Pizza </Text>
              </div>

              <div class="flex flex-col items-center gap-[var(--gapweb-xxs)] text-center z-10">
                <img src="/img/categoryimg/TapasCategory.webp" alt="Tapas" class="w-full aspect-square max-w-50 object-cover" />
                <Text teksttype="headline" weight="bold" color="negative"> Tapas </Text>
              </div>
            </div>
          </div>
        </div>

        <!-- MIDTERSTREG -->
        <div class="hidden lg:flex lg:col-span-1 items-center justify-center h-full">
          <img src="/img/illustrations/SingleViewLineWhite.webp" alt="Line" class="h-full object-contain" />
        </div>

        <div class="lg:hidden flex items-center justify-center">
          <img src="/img/illustrations/SingleViewLineWhiteHorizontal.webp" alt="Line" />
        </div>

        <!-- HØJRE SIDE / BUND -->
        <div class="lg:col-span-3 h-full flex items-center justify-center z-10">
          <img src="/img/smagskasse.webp" alt="Wine" class="h-full w-auto max-h-[600px] object-contain" />
        </div>
      </section>

      <div class="mx-[var(--margin-mobile)] md:mx-[var(--margin-web)]">
        <TasteBox />
      </div>
      <div class="mb-[var(--gapmobile-xl)]">
        <Favorites />
      </div>
    </div>
  </main>
</MainLayout>
