---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import ProductCard from "../components/ProductCard.astro";
---

<MainLayout title="På hylden">
  <main class="max-w-full mx-auto px-4 lg:px-[var(--margin-web)] my-30">
    <Heading htmlheading="h1" stylingclasses="my-[var(--gapweb-xl)]">Hele vinhylden</Heading>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[var(--gapweb-m)] justify-items-center">
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
      <ProductCard
        imageSrc="/img/PlaceHolderProduct1.png"
        imageAlt="Produktbillede - Front"
        imageSrc2="/img/PlaceHolderProduct2.jpg"
        imageAlt2="Produktbillede - Back"
        title="Château de la Tour"
        pris="199,95 DKK"
        buttonText="Put i kassen"
        quantity={1}
      />
    </div>
  </main>
</MainLayout>
